body{
    width: 100vw;
    margin: 0;
}
.mainSection{
    display: flex;
    justify-content: space-between;
}
#player1Sec{
    width: 45vw;
    display: grid;
}
#player2Sec{
    width: 45vw;
    display: grid;
}